<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container">
          <div class="center">
            <h1 class="black center" style="color: white; padding-top: 15px;padding-bottom: 15px;  border-bottom: 4px solid green">PRIDE File Download Statistics</h1>
          </div>
          <div class="content">
                <h4 style="border-bottom: 1px solid black;border-top: 1px solid black;"> 1. Project Level Statistics </h4>
                {{project_level_content}}
                <h4 style="border-bottom: 1px solid black;border-top: 1px solid black;"> 2. Trends Statistics </h4>
                {{trends_content}}
                <h4 style="border-bottom: 1px solid black;border-top: 1px solid black;"> 3. Regional Level Statistics </h4>
                {{maps_content}}
                <h4 style="border-bottom: 1px solid black;border-top: 1px solid black;"> 4. User Level Statistics </h4>
                {{user_content}}
          </div>
        </div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>