profiles {
  local {
    process.conda = "$baseDir/environment.yml"
    docker.enabled = false
    singularity.enabled = false
    trace.enabled = false
  }
  conda {
    process.executor = 'slurm'
    executor.jobName = { "nextflow-$task.name-$task.hash" }
    process.queue = 'datamover'
    process.conda = "$baseDir/environment.yml"
    docker.enabled = false
    singularity.enabled = false
    trace.enabled = false
  }
}

includeConfig 'params.config'